extends layout


block content
  script(src = './js/main.js')
  h1= title
  p Welcome to #{title} first project 

  div(style='padding:5px;')
   text First Name: 
   input(type='text', name='firstName', placeholder='Enter your First Name')

  div(style='padding:5px;')
  text(style='padding:5px;') Last Name:
  input(type='text', name='lastName', placeholder='Enter your Last Name')

  div(style='padding:5px;')
  text(style='padding:5px;') Email:
  input(type='email', name='lastName', placeholder='Enter your Email')

  div(style='padding:10px;')
  button(type='submit', onclick='myFunction()') Submit

  
  div(style='padding:5px;')
   div(style='padding:5px;')
    text(style='padding:5px;') First Name: 
    text(style='padding:5px;') Last Name: 
    text(style='padding:5px;') Email: 
   
   div(style='padding:5px;')
    input(type='text', name='firstName', placeholder='Enter your First Name')
    input(type='text', name='lastName', placeholder='Enter your Last Name')
    input(type='email', name='lastName', placeholder='Enter your Email')
